.message{
    width: 70%;
    background-color: rgb(255, 255, 255);
    height: auto;
    border-radius: 0.5rem;
}
#message-reply{
    width: 70%;
    height: auto;
    border-radius: 0.5rem;
    position: relative;
    left: 25%;
    /* display: none; */
}

#messages{
    height: 80vh;
    background-color:lightgray;
    overflow-y: scroll;
    position: relative;
}
.input-group{
    width: 70%;
}
.chat{
    position: fixed;
    top: 95%;
}