.message{
    width: 70%;
    background-color: rgb(255, 255, 255);
    height: auto;
    border-radius: 0.5rem;
}
#message-reply{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    position: relative;
    /* display: none; */
}

#messages{
    height: 80vh;
    background-color:lightgray;
    overflow-y: scroll;
    position: relative;
}
.input-group{
    width: 70%;
}
.chat{
    position: fixed;
    top: 95%;
}
.message-card{
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    margin-top: 0.5%;
}
.message-card-special{
    background-color: rgb(213, 199, 115);
    border-radius: 16px;
    padding: 8px;
    margin-top: 0.5%;
}
.card-msg{
    border-top: 1px solid rgb(200,200,200);
    font-size: 16px;
}
#user-feedback{
    width:100%
}
.msg-container{
    display: flex;
    margin:1% 6% 1% 6%;
}
.LabelPos{
    color: rgb(43, 161, 43)
}
.LabelNeg{
    color: rgb(255, 48, 48)
}