
.card-text{
  font-weight: 500;
  font-size: 32px;
}
.card-title{
  font-size: 18px;
}
.card-img-top{
  height: 12rem;
}
.card-header{
  text-align: center;
}

.icon-styling{
  font-size:32px; 
  font-weight: 200;
}
.my-card-container{
  display: flex;
  flex-direction: row;
  width:100%;
  overflow-x: auto;
}

#header-dropdown-options{
  background-color: white;
  right:0px;
  top:60px;
  padding:1%;
  border-radius: 8px;
  border: 1px solid black;
  position:absolute;

}

.dropdown-btn{
  text-decoration: none;
  position: relative;
  border:none;
  font-size: large;
  background-color:white;
  width: 100%;
}
.dropdown-btn:hover{
  transition-duration: 200ms;
  background-color:rgb(230,230,230);
}
.dropdown-text{
  text-decoration: none;
  text-align: center;
  position: relative;
  border:none;
  font-size: large;
  background-color:white;
  width: 100%;
}