.row-container{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.5%;
    flex-direction: row;
    border-bottom: 1px solid rgb(200,200,200);
    overflow: auto;
}
.col5{
    display: flex;
    flex:0.9;
    margin-left: 5%;
}
.col6{
    display: flex;
    flex:0.1;
}
.view-text{
    font-size: large;
}

.user-container{
    overflow-y: auto;
    display: flex;
    border:1px solid black;
    padding:2.5%;
    margin:1% 30% 1% 30%;
    border-radius: 8px;
}
.view-text-designation{
    font-size: medium;
    font-weight: 500;
}

.view-text-special{
    font-size: small;
    font-weight: 400;
}